<main
  class="min-h-screen flex flex-col items-center justify-center bg-gray-100 text-gray-800 font-sans"
>
  <h1 class="text-red-500 text-5xl mb-20"><%= status %></h1>
  <h1 class="text-3xl font-bold mb-10">Oops! Đã có lỗi xảy ra</h1>
  <p class="mb-4"><%= message %></p>
  <a href="/" class="text-red-500 hover:underline">Quay trở về trang chủ</a>
</main>
