<!-- Login -->
<% if (isAuth) { %>
<div class="flex items-center gap-4 mr-2 mt-2">
  <button
    class="focus:shadow rounded bg-blue-500 py-2 px-4 font-bold text-white hover:bg-blue-700 focus:outline-none"
    onclick="window.location.href = '/auth/logout'"
  >
    Đăng xuất
  </button>
  <a href="/profile"
    ><img
      id="avatar-header"
      src="<%= avatar %>"
      alt=""
      class="min-w-10 min-h-10 max-w-10 max-h-10 rounded-full"
  /></a>
</div>
<% } else { %>
<button
  class="mt-2 mr-2 focus:shadow rounded bg-blue-500 py-2 px-4 font-bold text-white hover:bg-blue-700 focus:outline-none"
  onclick="showModal('loginModal')"
>
  Đăng nhập
</button>
<% } %>

<div
  id="loginModal"
  class="fixed inset-0 hidden h-full w-full overflow-y-auto bg-gray-600 bg-opacity-50"
>
  <div
    class="relative top-20 mx-auto w-96 rounded-md border bg-white p-5 shadow-lg"
  >
    <h3 class="mb-4 text-lg font-bold">Đăng Nhập</h3>
    <form id="loginForm" onsubmit="handleLogin(event)">
      <div
        id="loginError"
        class="mb-4 hidden rounded bg-red-100 p-3 text-red-700"
      ></div>
      <div class="mb-4">
        <label class="mb-2 block text-sm font-bold text-gray-700" for="email">
          Email
        </label>
        <input
          class="focus:shadow-outline w-full appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none"
          id="email"
          type="text"
          placeholder="Email"
          required
        />
      </div>
      <div class="mb-4">
        <label
          class="mb-2 block text-sm font-bold text-gray-700"
          for="password"
        >
          Mật khẩu
        </label>
        <input
          class="focus:shadow-outline w-full appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none"
          id="password"
          type="password"
          placeholder="Mật khẩu"
          required
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          class="focus:shadow-outline rounded bg-blue-500 py-2 px-4 font-bold text-white hover:bg-blue-700 focus:outline-none"
          type="submit"
        >
          Đăng Nhập
        </button>
        <button
          class="focus:shadow-outline rounded bg-gray-500 py-2 px-4 font-bold text-white hover:bg-gray-700 focus:outline-none"
          type="button"
          onclick="hideModal('loginModal')"
        >
          Hủy
        </button>
      </div>
      <a
        href="/auth/google"
        class="mt-6 flex items-center justify-center gap-2 rounded-full border border-gray-400 p-2 transition-all hover:bg-gray-100"
      >
        <img src="/images/google.svg" alt="google" class="mx-2 h-8 w-8" />
        <p class="text-red-500">Đăng nhập bằng Google</p>
      </a>
    </form>
  </div>
</div>

<script>
  async function handleLogin(event) {
    event.preventDefault();
    const errorDiv = document.getElementById('loginError');
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;

    await fetch('/auth/login', {
      method: 'POST',
      headers: { 'content-type': 'application/json' },
      body: JSON.stringify({ email, password }),
    })
      .then((res) => res.json())
      .then((data) => {
        if (data.success) {
          Swal.fire({
            icon: 'success',
            title: 'Đăng nhập thành công',
            showConfirmButton: false,
            timer: 1500,
            timerProgressBar: true,
          }).then(() => {
            window.location.href = data.redirectUrl;
          });
        } else {
          errorDiv.textContent = data.message;
          errorDiv.classList.remove('hidden');
          setTimeout(() => {
            errorDiv.classList.add('hidden');
          }, 5000);
        }
      })
      .catch((err) => {
        errorDiv.textContent = 'Có lỗi xảy ra, vui lòng thử lại sau';
        errorDiv.classList.remove('hidden');
        setTimeout(() => {
          errorDiv.classList.add('hidden');
        }, 5000);
      });
  }
</script>
