<!-- Login -->
<% if (isAuth) { %>
<div class="flex items-center gap-4 mr-2 mt-2">
  <button
    class="focus:shadow rounded bg-blue-500 py-2 px-4 font-bold text-white hover:bg-blue-700 focus:outline-none"
    onclick="window.location.href = '/auth/logout'"
  >
    Đăng xuất
  </button>
  <a href="/profile"
    ><img
      id="avatar-header"
      src="<%= avatar %>"
      alt=""
      class="min-w-10 min-h-10 max-w-10 max-h-10 rounded-full"
  /></a>
</div>
<% } else { %>
<button
  class="mt-2 mr-2 focus:shadow rounded bg-blue-500 py-2 px-4 font-bold text-white hover:bg-blue-700 focus:outline-none"
  onclick="window.location.href = '/login'"
>
  Đăng nhập
</button>
<% } %>
