<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechKit - Đăng Nhập</title>
    <link href="stylesheets/styles.css" rel="stylesheet" />
    <link href="stylesheets/custom.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/5380681a3e.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body class="bg-gray-100 font-inter">
    <div class="flex h-screen items-center justify-center">
      <div class="w-96 rounded-md border bg-white p-5 shadow-lg">
        <h3 class="mb-4 text-lg font-bold">Đăng Nhập</h3>
        <form id="loginForm" onsubmit="handleLogin(event)">
          <div
            id="loginError"
            class="mb-4 hidden rounded bg-red-100 p-3 text-red-700"
          ></div>
          <div class="mb-4">
            <label
              class="mb-2 block text-sm font-bold text-gray-700"
              for="email"
            >
              Email
            </label>
            <input
              class="focus:shadow-outline w-full appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none"
              id="email"
              type="text"
              placeholder="Email"
              required
            />
          </div>
          <div class="mb-4">
            <label
              class="mb-2 block text-sm font-bold text-gray-700"
              for="password"
            >
              Mật khẩu
            </label>
            <input
              class="focus:shadow-outline w-full appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none"
              id="password"
              type="password"
              placeholder="Mật khẩu"
              required
            />
          </div>
          <div class="flex items-center justify-between">
            <button
              class="focus:shadow-outline rounded bg-blue-500 py-2 px-4 font-bold text-white hover:bg-blue-700 focus:outline-none"
              type="submit"
            >
              Đăng Nhập
            </button>
          </div>
          <a
            href="/auth/google"
            class="mt-6 flex items-center justify-center gap-2 rounded-full border border-gray-400 p-2 transition-all hover:bg-gray-100"
          >
            <img src="/images/google.svg" alt="google" class="mx-2 h-8 w-8" />
            <p class="text-red-500">Đăng nhập bằng Google</p>
          </a>
        </form>
      </div>
    </div>

    <script>
      async function handleLogin(event) {
        event.preventDefault();
        const errorDiv = document.getElementById('loginError');
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        await fetch('/auth/login', {
          method: 'POST',
          headers: { 'content-type': 'application/json' },
          body: JSON.stringify({ email, password }),
        })
          .then((res) => res.json())
          .then((data) => {
            if (data.success) {
              Swal.fire({
                icon: 'success',
                title: 'Đăng nhập thành công',
                showConfirmButton: false,
                timer: 1500,
                timerProgressBar: true,
              }).then(() => {
                window.location.href = data.redirectUrl;
              });
            } else {
              errorDiv.textContent = data.message;
              errorDiv.classList.remove('hidden');
              setTimeout(() => {
                errorDiv.classList.add('hidden');
              }, 5000);
            }
          })
          .catch((err) => {
            errorDiv.textContent = 'Có lỗi xảy ra, vui lòng thử lại sau';
            errorDiv.classList.remove('hidden');
            setTimeout(() => {
              errorDiv.classList.add('hidden');
            }, 5000);
          });
      }
    </script>
  </body>
</html>
