<!-- Sidebar -->
<aside class="w-64 bg-gray-800 p-4 text-white">
    <h1 class="mb-8 text-2xl font-bold">TechKit Dashboard</h1>
    <nav>
        <ul>
            <li>
                <a
                    href="/account"
                    class="block py-2 px-4 hover:bg-gray-700"
                    onclick="showSection('account')"
                    >Account Management</a
                >
            </li>
            <li>
                <a
                    href="/product"
                    class="block py-2 px-4 hover:bg-gray-700"
                    onclick="showSection('products')"
                    >Products Management</a
                >
            </li>
            <li>
                <a
                    href="/order"
                    class="block py-2 px-4 hover:bg-gray-700"
                    onclick="showSection('orders')"
                    >Customer Orders</a
                >
            </li>
            <li>
                <a
                    href="/report"
                    class="block py-2 px-4 hover:bg-gray-700"
                    onclick="showSection('reports')"
                    >Reports</a
                >
            </li>
        </ul>
    </nav>
</aside>